html {
    max-width: 100%;
}
body{
    background-color: #ffffff;
    margin-left: 10%;
    margin-right: 10%;
    font-family: 'Open sans';
    text-align: center;
}
h1 {
    font-weight: 700;
    color:#B82316;
    font-size: 32px;
}
h2 {
    font-weight: 700;
    color:#4a4a4a;
    font-size: 18px;
}
h3 {
    font-weight: bold;
    color:#ffffff;
    font-size: 20px;
}
p {
    font-weight: 400;
    font-size: 14px;
    color: #4a4a4a;
}

/* Header */
header {
    padding-top: 3%;
    padding-bottom: 3%;
    margin-left: 20%;
    margin-right: 20%;
}

/* Main */
.container {
    position: relative;
    width: 49%;
    float: left;
    padding-right: 1%;
} 
.row{
    padding-top: 10px;
}
.row::after {
    content: "";
    clear: both;
    display: table;
  }
.image {
    display: block;
    width: 100%;
}  
.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to top left, rgba(45, 49, 88, 0) 0%, rgba(177, 179, 199, 0) 50%, #B82316d5 50%);
    overflow: auto;
    width: 0;
    height: 100%;
    transition: .2s ease;
}

.container:hover .overlay {
    width: 50%;
}  
.text {
    color: #ffffff;
    position: absolute;
    margin-top: 5%;
    padding-left: 5%;
    text-align: left;
}
p.address{
    color: #ffffff;
}

/* Footer */
.fab{
    color: #B82316;
    width: 5%;
    padding: 5% 0% 5% 0%;
    font-size: 18px;
}
.fab:hover{
    color: #BD8A8A;
    font-size: 20px;
}
